<div class="post-page">
  <container
    fluid
    class="bg-primary text-light pb-3"
  >
    <row><column><container sm>
      <row [y-gutter]="1" class="align-items-end">
        <column [size]="12" class="pt-3">
          <div class="text-secondary">By {{ post | author | async }} - {{ post | datestring }}</div>
        </column>
        <column [size]="10">
          <h1 class="m-0">{{post?.title}}</h1>
        </column>
        <column [size]="2" class="text-end">
          <span class="fs-2 px-2">{{comments?.length}}</span>
          <fa-icon [icon]="faComment" size="2x"></fa-icon>
        </column>
        <column [size]="12">
          <p style="text-align: justify;">{{post?.content}}</p>
        </column>
      </row>

      <row>
        <column
          [size]="{ base: 12, sm: 6, md: 4 }"
          [offset]="{ base: 0, sm: 3, md: 4 }"
        >
          <hr class="m-0">
        </column>
        <column
          [size]="{ base: 12, sm: 6, md: 4 }"
          [offset]="{ base: 0, sm: 3, md: 4 }"
          class="p-1 pb-0 d-flex justify-content-center"
        >
          <action-button
            disabled
            [icon]="faBell"
            tooltip="Get notified"
          ></action-button>
          <action-button
            disabled
            [icon]="faTwitter"
            tooltip="Share on twitter"
          ></action-button>
          <action-button
            disabled
            [icon]="faFacebook"
            tooltip="Share on facebook"
          ></action-button>
          <action-button
            [icon]="faFlag"
            variant="warning"
            tooltip="Report this post"
            (click)="onReport()"
          ></action-button>
          <action-button
            *ngIf="post?.author === authService.connectedUser?.id"
            [icon]="faTrash"
            tooltip="Delete this post"
            variant="danger"
            (click)="onDelete()"
          ></action-button>
        </column>
      </row>

    </container></column></row>
  </container>

  <container class="comment-zone bg-white pb-3">
    <row>
      <column [size]="12" class="py-3">
        <form (submit)="onSubmit()">
          <div class="card border-0">
            <div class="card-body">
              <div class="input-group title bg-light rounded-pill overflow-hidden">
                <fa-icon [icon]="faICursor" class="py-2 px-3"></fa-icon>
                <input
                  [(ngModel)]="userComment"
                  autocomplete="off"
                  type="text"
                  name="comment"
                  id="comment"
                  placeholder="What are your thoughts?"
                  class="form-control form-input border-0 d-inline bg-light shadow-none"
                >
                <button
                  [disabled]="userComment.length === 0"
                  type="submit"
                  class="btn btn-primary"
                >Comment</button>
                <button
                  [disabled]="userComment.length === 0"  
                  class="btn btn-danger"
                  style="padding-right: 1.2rem;"
                  (click)="onClear()"
                >
                  <fa-icon [icon]="faTimes">
                </fa-icon></button>
              </div>
            </div>
          </div>
        </form>
      </column>
      <column [size]="12" *ngFor="let comment of comments" class="px-4">
        <comment [comment]="comment"></comment>
      </column>
    </row>
  </container>
</div>