@use "theme";
@use "fonts";

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Lato', sans-serif;
}

*::selection {
  background-color: theme.$primary;
  color: theme.$light;
}