<div class="app-login-container">

  <form
    class="app-login px-3"
    style="max-width: 400px"
    (ngSubmit)="onSubmit()"
  >
    <container>
      
      <row>
        <column
          [size]="{ base: 12, xs: 8, sm: 6 }"
          [offset]="{ base: 0, xs: 2, sm: 3 }"
        >
          <app-auth-logo></app-auth-logo>
        </column>
      </row>

      <row><column>
        <hr class="my-2">
      </column></row>

      <row class="my-1">
        <column>
          <label for="username" class="fw-bold">Username</label>
          <input
            [(ngModel)]="username"
            type="text"
            id="username"
            name="username"
            class="form-control"
          >
        </column>
      </row>

      <row class="my-1">
        <column>
          <label for="password" class="fw-bold">Password</label>
          <input
            [(ngModel)]="password"
            type="password"
            name="password"
            id="password"
            class="form-control"
          >
        </column>
      </row>

      <row *ngIf="accessDenied">
        <column class="text-center">
          Invalid username / password
        </column>
      </row>

      <row><column>
        <hr class="my-2">
      </column></row>

      <row>
        <column class="d-flex justify-content-around">
          <input type="submit" value="Login" class="btn btn-outline-light px-3">
        </column>
      </row>

      <row>
        <column class="text-center p-2">
          Don't have an account yet?
          <a routerLink="/register" class="text-light fw-bold text-decoration-none">Register here</a>
        </column>
      </row>

    </container>
  </form>

</div>
