<container sm class="highlight p-3">

  <row [y-gutter]="2">
    <column [size]="{ base: 12, md: 6, lg: 3}" *ngFor="let highlight of highlights">
      <div class="card text-center border-0 shadow-sm rounded h-100">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">{{ highlight.title }}</h5>
          <p class="card-text">{{ highlight.content }}</p>
          <a [routerLink]="['/post', highlight.id]" class="btn btn-primary">See this post</a>
        </div>
        <div class="card-footer text-muted">
          {{ highlight | datestring }}
        </div>
      </div>
    </column>
  </row>

  <row *ngIf="highlights.length === 0"><column>
    <h3 class="text-center fw-bold my-5 opacity-25">
      No highlights right now, come back later!
    </h3>
  </column></row>

</container>
