<div class="app-flux py-5">
  <container>
    
    <row>
      <column>
        <h3 class="text-primary fw-bold pt-3 pb-2">
          <fa-icon [icon]="faStar" class="p-2"></fa-icon>
          <span>Highlights</span>
        </h3>
        <hr>
        <app-highlight></app-highlight>
      </column>
    </row>

    <row>
      <column>
        
        <h3 class="text-primary fw-bold pt-3 pb-2">
          <fa-icon [icon]="faBurn" class="p-2"></fa-icon>
          <span>Trending</span>
        </h3>
        <hr>
        
        <container>
          <row [y-gutter]="3">
            <column [size]="12">
              <app-create-post></app-create-post>
            </column>

            <column [size]="12" *ngFor="let post of posts">
              <post [post]="post"></post>
            </column>
          </row>
        </container>
        
      </column>
    </row>
  
  </container>
</div>
