@use "../../../../../assets/scss/variables";

.nav-link {

  color: variables.$primary;
  font-weight: bold;
  border-bottom: 2px solid transparent;

  transition: all .1s ease-out;

  &:hover, &.active {
    color: variables.$primary;
    border-bottom: 2px solid variables.$primary;

    transition: all .1s ease-out;
  }

}