@use "../../../../../assets/scss/style" as s;

.nav-link {

  color: var(--bs-primary);
  font-weight: bold;
  border-bottom: 2px solid transparent;

  transition: all .1s ease-out;

  &:hover, &.active {
    color: var(--bs-primary);
    border-bottom: 2px solid var(--bs-primary);

    transition: all .1s ease-out;
  }

}