@use "sass:map";

$primary: #547980;
$secondary: #9DE0AD;
$success: #79BD9A;
$light: #F6F6F6;
$dark: #594F4F;
$danger: #dc3545;
$warning: #fd7e14;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  //"info": ,
  "light": $light,
  "dark": $dark,
);

$spacer: 1.25rem;
$input-btn-padding-y: .5rem !default;
$input-btn-padding-x: 1rem !default;