@use "sass:map";

$primary: #3b51a5;
$secondary: #959DBE;
$info: #509ac1;
$success: #4da972;
$warning: #cb993a;
$danger: #f44336;

$light: #F5F3F0;
$dark: #191919;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "light": $light,
  "dark": $dark,
);

$spacer: 1.25rem;
$input-btn-padding-y: .5rem !default;
$input-btn-padding-x: 1rem !default;