@use "sass:color";

@use "theme";
@use "fonts";
@use "animations";
@use "forms";

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  background: theme.$light;
}

*::selection {
  background-color: theme.$primary;
  color: theme.$light;
}

container, row, column {
  display: block; // ?
}