<div class="app-register-container">

  <form
    [formGroup]="form"
    class="app-register"
    style="width: 800px"
    (ngSubmit)="onSubmit()"
  >
    <div class="container">

      <div class="row">
        <div class="col text-center p-2">
          <h3 class="fw-bold fs-1 m-0">Registration</h3>
          <a
            routerLink="/login"
            class="text-light fw-light text-decoration-none"
          >
            Already have an account ?
          </a>
          <hr class="mb-4 mt-2">
        </div>
      </div>

      <div class="row">

        <div class="col-8 mb-0 pb-0">

          <div class="container">

            <app-input-row
              type="text"
              label="Username"
              name="username"
              id="username"
              [formControl]="username"
            ></app-input-row>

            <app-input-row
              type="email"
              label="Email"
              name="email"
              id="email"
              [formControl]="email"
            ></app-input-row>

            <app-input-row
              type="password"
              label="Password"
              name="password"
              id="password"
              [formControl]="password"
            ></app-input-row>
      
            <app-input-row
              type="password"
              label="Confirmation"
              name="password-confirmation"
              id="password-confirmation"
              [formControl]="passwordConfirmation"
            ></app-input-row>

            <div class="row">
              <div class="col-3"></div>
              <div class="col">
                <div
                  *ngIf="!form.pristine && form.errors"
                  class="bg-warning text-dark text-center fw-bold p-2"
                >
                  <fa-icon [icon]="faExclamationTriangle"></fa-icon>
                  <span class="mx-2">{{error}}</span>
                  <fa-icon [icon]="faExclamationTriangle"></fa-icon>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-4 d-flex flex-column justify-content-center">
          <app-logo [size]="6"></app-logo>
        </div>

      </div>

      <div class="row">
        <hr class="mt-4">
        <div class="col d-flex justify-content-around">
          <div
            ngbTooltip="Please fill out the form before to proceed"
            placement="bottom"
            triggers="manual"
            #submitTooltip="ngbTooltip"
            (mouseenter)="handleSubmitHover(true, submitTooltip)"
            (mouseleave)="handleSubmitHover(false, submitTooltip)"
          >
            <button
              type="submit"
              [disabled]="!processing && !form.valid"
              
              class="btn btn-submit px-5 fw-bold"
              
              [class.btn-outline-light]="!form.valid"
              
              [class.btn-light]="!processing && form.valid"
              [class.text-primary]="!processing && form.valid"
              [class.submission-loading]="submissionLoading"
              [class.submission-success]="submissionSuccess"
              [class.submission-error]="submissionError"
            >
              <span *ngIf="submissionLoading">Loading...</span>
              <span *ngIf="submissionSuccess">
                <fa-icon [icon]="faCheck"></fa-icon>
              </span>
              <span *ngIf="submissionError">
                <fa-icon [icon]="faTimes"></fa-icon>
              </span>
              <span *ngIf="!processing">
                Register
              </span>
            </button>
          </div>
        </div>
      </div>

    </div>
  </form>

</div>
