@use '../../../../assets/scss/variables';


.profile-publications {
  padding: 0 1rem;
}

.profile {
  margin-top: 50px;

  .avatar-container {
    margin-top: -70px;
    margin-bottom: 15px;
  }
}

.publication {

  transition: .2s ease-in;

  .card {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  
  &:not(:last-of-type) {
    margin-bottom: 0.625rem;
  }

  &:hover {
    
    cursor: pointer;
    transform: scale(1.025);
    color: variables.$light;
    transition: .2s ease-out;
  
    .card-header, .card-body, .card-footer {
      background: variables.$primary;
    }

  }

}