<container class="profile-content my-3">
  <row>

    <column [size]="{ base: 12, md: 9 }" [order]="2" class="h-100">
      <h2 class="fw-bold text-primary">Your publications</h2>
      <hr>
      <div class="profile-publications">
        <div *ngFor="let publication of publications" class="publication">

          <card
            *ngIf="isPost(publication)"
            (click)="onPublicationClick(publication.id)"
            no-border
          >
            <div class="card-header p-2 d-flex justify-content-between">
              <div class="opacity-75 fs-7">
                {{ publication | author | async }} wrote a post {{ publication | datestring }}
              </div>
              <fa-icon [icon]="faFeatherAlt"></fa-icon>
            </div>
            <div class="card-body p-2">
              <div class="card-title">{{ publication.title }}</div>
            </div>
          </card>

          <card
            *ngIf="isComment(publication)"
            (click)="onPublicationClick(publication.post)"
            no-border
          >
            <div class="card-header px-2 py-1 pb-0 d-flex justify-content-between">
              <div class="opacity-75 fs-7">
                {{ publication | author | async }} commented {{ publication | datestring }}
              </div>
              <fa-icon [icon]="faComment" class="pe-1"></fa-icon>
            </div>
            <div class="card-body p-2">
              {{ publication.content }}
            </div>
          </card>

        </div>
      </div>
    </column>

    <column [size]="{ base: 12, md: 3 }" class="profile" [order]="1">
      <card no-border background="primary" text="light">
        <card-body class="text-center">
          <div class="avatar-container">
            <avatar size="4x" class="mx-auto text-primary"></avatar>
          </div>
          <h4 class="card-title fw-bold">{{ account?.username }}</h4>
          <hr>
          <p>
            Member since {{ registration }}<br>
            <fa-icon [icon]="faHeading" class="pe-1"></fa-icon>{{ account?.posts?.length }} post(s)<br>
            <fa-icon [icon]="faComment" class="pe-1"></fa-icon>{{ account?.comments?.length }} comment(s)<br>
          </p>
        </card-body>
      </card>
    </column>
  </row>
</container>